@font-face {
	font-family: 'PlayFair';
	src: url('../lib/bootstrap4/css/PlayFair.otf') format('truetype');
}

#canvas{
    background-image: url(/assets/img/background.jpg);
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.movable_text{
    cursor: move;
    color: white;
    font-family: 'PlayFair';
    position: absolute;
    top: 300px; 
    left: 620px;
    font-size: 50px;
    text-shadow: 5px 5px rgb(39, 39, 39);
}

.movable_img{
    cursor: move;
    position: absolute;
    top: 240px;
    left: 380px;
}